<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form action ="" method="post">{% csrf_token %}

      <div>
          <label for="search">Search: </label>
          <input id="search" type="text" name="search" value={{ search }}>
      </div>



      <input type="submit" value="submit">

    </form>
{% if results %}
Found the following items:

    {% for results in results %}
        {{results}}
    {% endfor %}

{% endif %}
</body>
</html>
